
<html>
  <head>
    <script type='text/javascript' src='https://www.google.com/jsapi'></script>
    <script type='text/javascript'>
      google.load('visualization', '1', {packages:['gauge', 'corechart']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
{%if sprint.isFinished %}
        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          ['Focus Factor', {{ sprint.focus_factor }}],
          ['Accuracy of Estimation', {{ sprint.accuracy_of_estimation }}],
          ['Accuracy of Commit', {{ sprint.accuracy_of_commit }}]
        ]);

        var options = {
          width: 800, height: 120,
          redFrom: 90, redTo: 100,
          yellowFrom:0, yellowTo: 70,
          greenFrom:70, greenTo: 90,
          minorTicks: 5
        };
        var chart = new google.visualization.Gauge(document.getElementById('metrics_div'));
        chart.draw(data, options);

        var data_burndown = google.visualization.arrayToDataTable([
          ['Day', 'Optimal', 'Maximal', 'Minimal', 'Points'],
	{% for i, optimal, maximal, minimal, points in burndown %}
		  ['{{i}}',  {{optimal}}, {{maximal}}, {{minimal}}, {{points}}],
	{% endfor %}
        ]);
{%else%}
        var data_burndown = google.visualization.arrayToDataTable([
          ['Day', 'Optimal', 'Maximal', 'Minimal'],
	{% for i, optimal, maximal, minimal, points in burndown %}
		  ['{{i}}',  {{optimal}}, {{maximal}}, {{minimal}}],
	{% endfor %}
        ]);
{%endif%}

        var options_burndown = {
          title: 'Burndown',
          width: 800, height: 300,
          colors: ["green", "red", "red", "blue"],
	  vAxis: {minValue: 0}
        };

        var chart_burndown = new google.visualization.LineChart(document.getElementById('burndown_div'));
        chart_burndown.draw(data_burndown, options_burndown);


      }
    </script>
  </head>
  <body>
<a href="/scrum">Back to Sprints</a>
<h1>Sprint {{ sprint.number }}</h1>
<ul>
<li>Original Commitment: {{ sprint.original_commitment }}</li>

<li>Total Commitment: {{ sprint.total_commitment }}</li>

<li>Velocity: {{ sprint.velocity }}</li>
<li>Work Capacity: {{ sprint.work_capacity }}</li>
<li>targeted_value_increase: {{ sprint.targeted_value_increase }}%</li>


</ul>
    <div id='metrics_div'></div>
    <div id='burndown_div'></div>
<table style="width:700px" cellpadding="0">
    <tr><th>Story</th><th>Estimation</th><th>Mon</th><th>Tue</th><th>Wed</th><th>Thu</th><th>Fri</th><th>Completed</th>
{% for story in sprint.story_set.all %}
    <tr><td>{{ story.title }}</td><td>{{ story.estimation }}</td>
	<td> <input size="5" /> </td><td> <input size="5" /> </td><td> <input size="5" /> </td><td> <input size="5" /> </td><td> <input size="5" /></td>
	<td><input size="5" /></td></tr>
{% endfor %}
</table>
<style>
table {
padding: 0
}
table td{
	border-bottom: 1px solid black
}
</style>
  </body>
</html>
